body{
    margin: 0;
    background-color: #2F5061;
    
}
.wrapper{
   
}
.banner{
    padding-left: 5%;
   background-color: #4297A0;
   color: antiquewhite;
   position: fixed;
   width: 100%;
}
.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
}
/* Hamburger menu */
#menu {
    z-index: 2;
  }
  
  #menu-bar {
    margin-left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav {
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    right: 10%;
    position: fixed;
    border-radius: 10px 0px 10px 10px;
  }
  
  .menu-bg {
    z-index: 1;
    background:  #E57F84;
  }
  
.change {
    display: block;
  }
  
  .change-bg {
    width: 30%;
    height: 50%;
    right: 0;
  }
  /* End of Hamburger menu */

  /* Cards */
  .food-section{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    padding-top: 5%;
  }
  .card{
    background-color: #F4EAE6;
    margin: 2%;
    min-width: 18%;
    max-width: 15%;
    height: auto;
    padding: 5%;
    border-radius: 10%;
    box-shadow: 12px 12px 2px 0px #E57F84;
  }
  .posts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  img{
    width: 95%;
    height: auto;
  }
  button{
    border-radius: 5px 5px 5px 5px;
    color: #F4EAE6;
    background-color: #4297A0;
    width: 90%;
    height: 40px;
  }