
#anchorPane{
    -fx-background-image: url('../images/login_bkg.jpg');
}

#logo{
    -fx-background-image: url('../images/logo.png');
}

#login {
    -fx-background-color: rgba(137, 137, 150, 0.427);
}